<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>guillemotleft</string>
    <string>registered</string>
    <string>macron</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>acute</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>cedilla</string>
    <string>onesuperior</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>Amacron</string>
    <string>amacron</string>
    <string>Abreve</string>
    <string>abreve</string>
    <string>Aogonek</string>
    <string>aogonek</string>
    <string>Cacute</string>
    <string>cacute</string>
    <string>Ccircumflex</string>
    <string>ccircumflex</string>
    <string>Cdotaccent</string>
    <string>cdotaccent</string>
    <string>Ccaron</string>
    <string>ccaron</string>
    <string>Dcaron</string>
    <string>dcaron</string>
    <string>Dcroat</string>
    <string>dcroat</string>
    <string>Emacron</string>
    <string>emacron</string>
    <string>Ebreve</string>
    <string>ebreve</string>
    <string>Edotaccent</string>
    <string>edotaccent</string>
    <string>Eogonek</string>
    <string>eogonek</string>
    <string>Ecaron</string>
    <string>ecaron</string>
    <string>Gcircumflex</string>
    <string>gcircumflex</string>
    <string>Gbreve</string>
    <string>gbreve</string>
    <string>Gdotaccent</string>
    <string>gdotaccent</string>
    <string>uni0122</string>
    <string>uni0123</string>
    <string>Hcircumflex</string>
    <string>hcircumflex</string>
    <string>Hbar</string>
    <string>hbar</string>
    <string>Itilde</string>
    <string>itilde</string>
    <string>Imacron</string>
    <string>imacron</string>
    <string>Ibreve</string>
    <string>ibreve</string>
    <string>Iogonek</string>
    <string>iogonek</string>
    <string>Idotaccent</string>
    <string>dotlessi</string>
    <string>IJ</string>
    <string>ij</string>
    <string>Jcircumflex</string>
    <string>jcircumflex</string>
    <string>uni0136</string>
    <string>uni0137</string>
    <string>Lacute</string>
    <string>lacute</string>
    <string>uni013B</string>
    <string>uni013C</string>
    <string>Lcaron</string>
    <string>lcaron</string>
    <string>Ldot</string>
    <string>ldot</string>
    <string>Lslash</string>
    <string>lslash</string>
    <string>Nacute</string>
    <string>nacute</string>
    <string>uni0145</string>
    <string>uni0146</string>
    <string>Ncaron</string>
    <string>ncaron</string>
    <string>napostrophe</string>
    <string>Eng</string>
    <string>eng</string>
    <string>Omacron</string>
    <string>omacron</string>
    <string>Obreve</string>
    <string>obreve</string>
    <string>Ohungarumlaut</string>
    <string>ohungarumlaut</string>
    <string>OE</string>
    <string>oe</string>
    <string>Racute</string>
    <string>racute</string>
    <string>uni0156</string>
    <string>uni0157</string>
    <string>Rcaron</string>
    <string>rcaron</string>
    <string>Sacute</string>
    <string>sacute</string>
    <string>Scircumflex</string>
    <string>scircumflex</string>
    <string>Scedilla</string>
    <string>scedilla</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>uni0162</string>
    <string>uni0163</string>
    <string>Tcaron</string>
    <string>tcaron</string>
    <string>Tbar</string>
    <string>tbar</string>
    <string>Utilde</string>
    <string>utilde</string>
    <string>Umacron</string>
    <string>umacron</string>
    <string>Ubreve</string>
    <string>ubreve</string>
    <string>Uring</string>
    <string>uring</string>
    <string>Uhungarumlaut</string>
    <string>uhungarumlaut</string>
    <string>Uogonek</string>
    <string>uogonek</string>
    <string>Wcircumflex</string>
    <string>wcircumflex</string>
    <string>Ycircumflex</string>
    <string>ycircumflex</string>
    <string>Ydieresis</string>
    <string>Zacute</string>
    <string>zacute</string>
    <string>Zdotaccent</string>
    <string>zdotaccent</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>florin</string>
    <string>Aringacute</string>
    <string>aringacute</string>
    <string>AEacute</string>
    <string>aeacute</string>
    <string>Oslashacute</string>
    <string>oslashacute</string>
    <string>uni0218</string>
    <string>uni0219</string>
    <string>uni021A</string>
    <string>uni021B</string>
    <string>uni0237</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>ogonek</string>
    <string>tilde</string>
    <string>hungarumlaut</string>
    <string>uni0326</string>
    <string>uni0964</string>
    <string>uni0965</string>
    <string>uni0980</string>
    <string>uni0981</string>
    <string>uni0982</string>
    <string>uni0983</string>
    <string>uni0985</string>
    <string>uni0986</string>
    <string>uni0987</string>
    <string>uni0988</string>
    <string>uni0989</string>
    <string>uni098A</string>
    <string>uni098B</string>
    <string>uni098C</string>
    <string>uni098F</string>
    <string>uni0990</string>
    <string>uni0993</string>
    <string>uni0994</string>
    <string>uni0995</string>
    <string>uni0996</string>
    <string>uni0997</string>
    <string>uni0998</string>
    <string>uni0999</string>
    <string>uni099A</string>
    <string>uni099B</string>
    <string>uni099C</string>
    <string>uni099D</string>
    <string>uni099E</string>
    <string>uni099F</string>
    <string>uni09A0</string>
    <string>uni09A1</string>
    <string>uni09A2</string>
    <string>uni09A3</string>
    <string>uni09A4</string>
    <string>uni09A5</string>
    <string>uni09A6</string>
    <string>uni09A7</string>
    <string>uni09A8</string>
    <string>uni09AA</string>
    <string>uni09AB</string>
    <string>uni09AC</string>
    <string>uni09AD</string>
    <string>uni09AE</string>
    <string>uni09AF</string>
    <string>uni09B0</string>
    <string>uni09B2</string>
    <string>uni09B6</string>
    <string>uni09B7</string>
    <string>uni09B8</string>
    <string>uni09B9</string>
    <string>uni09BC</string>
    <string>uni09BD</string>
    <string>uni09BE</string>
    <string>uni09BF</string>
    <string>uni09C0</string>
    <string>uni09C1</string>
    <string>uni09C2</string>
    <string>uni09C3</string>
    <string>uni09C4</string>
    <string>uni09C7</string>
    <string>uni09C8</string>
    <string>uni09CB</string>
    <string>uni09CC</string>
    <string>uni09CD</string>
    <string>uni09CE</string>
    <string>uni09D7</string>
    <string>uni09DC</string>
    <string>uni09DD</string>
    <string>uni09DF</string>
    <string>uni09E0</string>
    <string>uni09E1</string>
    <string>uni09E2</string>
    <string>uni09E3</string>
    <string>uni09E6</string>
    <string>uni09E7</string>
    <string>uni09E8</string>
    <string>uni09E9</string>
    <string>uni09EA</string>
    <string>uni09EB</string>
    <string>uni09EC</string>
    <string>uni09ED</string>
    <string>uni09EE</string>
    <string>uni09EF</string>
    <string>uni09F0</string>
    <string>uni09F1</string>
    <string>uni09F2</string>
    <string>uni09F3</string>
    <string>uni09F4</string>
    <string>uni09F5</string>
    <string>uni09F6</string>
    <string>uni09F7</string>
    <string>uni09F8</string>
    <string>uni09F9</string>
    <string>uni09FA</string>
    <string>uni09FB</string>
    <string>Wgrave</string>
    <string>wgrave</string>
    <string>Wacute</string>
    <string>wacute</string>
    <string>Wdieresis</string>
    <string>wdieresis</string>
    <string>Ygrave</string>
    <string>ygrave</string>
    <string>uni200C</string>
    <string>uni200D</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>ellipsis</string>
    <string>perthousand</string>
    <string>minute</string>
    <string>second</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fraction</string>
    <string>Euro</string>
    <string>uni20B9</string>
    <string>trademark</string>
    <string>onethird</string>
    <string>twothirds</string>
    <string>oneeighth</string>
    <string>threeeighths</string>
    <string>fiveeighths</string>
    <string>seveneighths</string>
    <string>minus</string>
    <string>approxequal</string>
    <string>notequal</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>uni24C5</string>
    <string>uni25CC</string>
    <string>dollar.lin</string>
    <string>dollar.old</string>
    <string>dollar.oldtab</string>
    <string>dollar.tab</string>
    <string>percent.tab</string>
    <string>parenleft.tab</string>
    <string>parenleft.uc</string>
    <string>parenright.tab</string>
    <string>parenright.uc</string>
    <string>plus.sub</string>
    <string>plus.sup</string>
    <string>plus.tab</string>
    <string>comma.tab</string>
    <string>hyphen.uc</string>
    <string>period.tab</string>
    <string>slash.uc</string>
    <string>zero.den</string>
    <string>zero.lin</string>
    <string>zero.num</string>
    <string>zero.old</string>
    <string>zero.oldtab</string>
    <string>zero.sub</string>
    <string>zero.sup</string>
    <string>zero.tab</string>
    <string>one.den</string>
    <string>one.lin</string>
    <string>one.num</string>
    <string>one.old</string>
    <string>one.oldtab</string>
    <string>one.sub</string>
    <string>one.sup</string>
    <string>one.tab</string>
    <string>two.den</string>
    <string>two.lin</string>
    <string>two.num</string>
    <string>two.old</string>
    <string>two.oldtab</string>
    <string>two.sub</string>
    <string>two.sup</string>
    <string>two.tab</string>
    <string>three.den</string>
    <string>three.lin</string>
    <string>three.num</string>
    <string>three.old</string>
    <string>three.oldtab</string>
    <string>three.sub</string>
    <string>three.sup</string>
    <string>three.tab</string>
    <string>four.den</string>
    <string>four.lin</string>
    <string>four.num</string>
    <string>four.old</string>
    <string>four.oldtab</string>
    <string>four.sub</string>
    <string>four.sup</string>
    <string>four.tab</string>
    <string>five.den</string>
    <string>five.lin</string>
    <string>five.num</string>
    <string>five.old</string>
    <string>five.oldtab</string>
    <string>five.sub</string>
    <string>five.sup</string>
    <string>five.tab</string>
    <string>six.den</string>
    <string>six.lin</string>
    <string>six.num</string>
    <string>six.old</string>
    <string>six.oldtab</string>
    <string>six.sub</string>
    <string>six.sup</string>
    <string>six.tab</string>
    <string>seven.den</string>
    <string>seven.lin</string>
    <string>seven.num</string>
    <string>seven.old</string>
    <string>seven.oldtab</string>
    <string>seven.sub</string>
    <string>seven.sup</string>
    <string>seven.tab</string>
    <string>eight.den</string>
    <string>eight.lin</string>
    <string>eight.num</string>
    <string>eight.old</string>
    <string>eight.oldtab</string>
    <string>eight.sub</string>
    <string>eight.sup</string>
    <string>eight.tab</string>
    <string>nine.den</string>
    <string>nine.lin</string>
    <string>nine.num</string>
    <string>nine.old</string>
    <string>nine.oldtab</string>
    <string>nine.sub</string>
    <string>nine.sup</string>
    <string>nine.tab</string>
    <string>colon.tab</string>
    <string>semicolon.tab</string>
    <string>less.tab</string>
    <string>equal.tab</string>
    <string>greater.tab</string>
    <string>at.uc</string>
    <string>bracketleft.tab</string>
    <string>bracketleft.uc</string>
    <string>backslash.uc</string>
    <string>bracketright.tab</string>
    <string>bracketright.uc</string>
    <string>grave.uc</string>
    <string>a.alt</string>
    <string>f_f</string>
    <string>f_f.short</string>
    <string>f_i</string>
    <string>f_l</string>
    <string>f.short</string>
    <string>i.loclTRK</string>
    <string>t.alt</string>
    <string>braceleft.tab</string>
    <string>braceleft.uc</string>
    <string>bar.uc</string>
    <string>braceright.tab</string>
    <string>braceright.uc</string>
    <string>exclamdown.uc</string>
    <string>cent.tab</string>
    <string>sterling.lin</string>
    <string>sterling.old</string>
    <string>sterling.oldtab</string>
    <string>sterling.tab</string>
    <string>yen.lin</string>
    <string>yen.old</string>
    <string>yen.oldtab</string>
    <string>yen.tab</string>
    <string>dieresis.uc</string>
    <string>guillemotleft.uc</string>
    <string>registered.alt</string>
    <string>macron.uc</string>
    <string>plusminus.tab</string>
    <string>acute.uc</string>
    <string>guillemotright.uc</string>
    <string>questiondown.uc</string>
    <string>multiply.tab</string>
    <string>germandbls.alt</string>
    <string>agrave.alt</string>
    <string>aacute.alt</string>
    <string>acircumflex.alt</string>
    <string>atilde.alt</string>
    <string>adieresis.alt</string>
    <string>aring.alt</string>
    <string>divide.tab</string>
    <string>amacron.alt</string>
    <string>abreve.alt</string>
    <string>aogonek.alt</string>
    <string>OE.alt</string>
    <string>tcaron.alt</string>
    <string>tbar.alt</string>
    <string>florin.tab</string>
    <string>aringacute.alt</string>
    <string>uni021B.alt</string>
    <string>circumflex.uc</string>
    <string>caron.alt</string>
    <string>caron.uc</string>
    <string>breve.uc</string>
    <string>dotaccent.uc</string>
    <string>ring.uc</string>
    <string>tilde.uc</string>
    <string>hungarumlaut.uc</string>
    <string>uni0326.alt</string>
    <string>uni0326.spacing</string>
    <string>uni0326.spacing.alt</string>
    <string>uni0981.alt</string>
    <string>uni09AC.blwf</string>
    <string>uni09AF.pstf</string>
    <string>uni09B0.blwf</string>
    <string>uni09BF.length10</string>
    <string>uni09BF.length11</string>
    <string>uni09BF.length12</string>
    <string>uni09BF.length13</string>
    <string>uni09BF.length14</string>
    <string>uni09BF.length15</string>
    <string>uni09BF.length16</string>
    <string>uni09BF.length17</string>
    <string>uni09BF.length18</string>
    <string>uni09BF.length19</string>
    <string>uni09BF.length2</string>
    <string>uni09BF.length3</string>
    <string>uni09BF.length4</string>
    <string>uni09BF.length5</string>
    <string>uni09BF.length6</string>
    <string>uni09BF.length7</string>
    <string>uni09BF.length8</string>
    <string>uni09BF.length9</string>
    <string>uni09C1.alt</string>
    <string>uni09C1.alt2</string>
    <string>uni09C1.mid</string>
    <string>uni09C2.alt</string>
    <string>uni09C2.mid</string>
    <string>uni09C7.init</string>
    <string>uni09C8.init</string>
    <string>endash.uc</string>
    <string>emdash.uc</string>
    <string>perthousand.tab</string>
    <string>guilsinglleft.uc</string>
    <string>guilsinglright.uc</string>
    <string>Euro.lin</string>
    <string>Euro.old</string>
    <string>Euro.oldtab</string>
    <string>Euro.tab</string>
    <string>minus.sub</string>
    <string>minus.sup</string>
    <string>minus.tab</string>
    <string>approxequal.tab</string>
    <string>notequal.tab</string>
    <string>lessequal.tab</string>
    <string>greaterequal.tab</string>
    <string>uni099509CD</string>
    <string>uni099509CD0995</string>
    <string>uni099509CD099F</string>
    <string>uni099509CD099F09BF</string>
    <string>uni099509CD099F09BF09B009CD</string>
    <string>uni099509CD099F09BF09B009CD0981</string>
    <string>uni099509CD099F09C0</string>
    <string>uni099509CD099F09C009B009CD</string>
    <string>uni099509CD099F09C009B009CD0981</string>
    <string>uni099509CD099F09CD09B0</string>
    <string>uni099509CD099F09CD09B009BF</string>
    <string>uni099509CD099F09CD09B009BF09B009CD</string>
    <string>uni099509CD099F09CD09B009BF09B009CD0981</string>
    <string>uni099509CD099F09CD09B009C0</string>
    <string>uni099509CD099F09CD09B009C009B009CD</string>
    <string>uni099509CD099F09CD09B009C009B009CD0981</string>
    <string>uni099509CD09A4</string>
    <string>uni099509CD09A409CD09AC</string>
    <string>uni099509CD09A409CD09B0</string>
    <string>uni099509CD09A8</string>
    <string>uni099509CD09AC</string>
    <string>uni099509CD09AE</string>
    <string>uni099509CD09B0</string>
    <string>uni099509CD09B2</string>
    <string>uni099509CD09B7</string>
    <string>uni099509CD09B709CD09A8</string>
    <string>uni099509CD09B709CD09AC</string>
    <string>uni099509CD09B709CD09AE</string>
    <string>uni099509CD09B709CD09B0</string>
    <string>uni099509CD09B8</string>
    <string>uni099609CD</string>
    <string>uni099609CD09AC</string>
    <string>uni099609CD09B0</string>
    <string>uni099709C1</string>
    <string>uni099709CD</string>
    <string>uni099709CD0997</string>
    <string>uni099709CD09A3</string>
    <string>uni099709CD09A6</string>
    <string>uni099709CD09A7</string>
    <string>uni099709CD09A709CD09AC</string>
    <string>uni099709CD09A709CD09B0</string>
    <string>uni099709CD09A8</string>
    <string>uni099709CD09AC</string>
    <string>uni099709CD09AE</string>
    <string>uni099709CD09B0</string>
    <string>uni099709CD09B2</string>
    <string>uni099809CD</string>
    <string>uni099809CD09A8</string>
    <string>uni099809CD09AC</string>
    <string>uni099809CD09B0</string>
    <string>uni099909CD</string>
    <string>uni099909CD0995</string>
    <string>uni099909CD099509CD09B0</string>
    <string>uni099909CD099509CD09B7</string>
    <string>uni099909CD099509CD09B709CD09B0</string>
    <string>uni099909CD0996</string>
    <string>uni099909CD0997</string>
    <string>uni099909CD0998</string>
    <string>uni099909CD099809CD09B0</string>
    <string>uni099909CD09AE</string>
    <string>uni099909CD09B0</string>
    <string>uni099A09CD</string>
    <string>uni099A09CD099A</string>
    <string>uni099A09CD099B</string>
    <string>uni099A09CD099B09CD09AC</string>
    <string>uni099A09CD099B09CD09B0</string>
    <string>uni099A09CD099E</string>
    <string>uni099A09CD09A8</string>
    <string>uni099A09CD09AC</string>
    <string>uni099A09CD09B0</string>
    <string>uni099B09CD</string>
    <string>uni099B09CD09AC</string>
    <string>uni099B09CD09B0</string>
    <string>uni099C09CD</string>
    <string>uni099C09CD099C</string>
    <string>uni099C09CD099C09CD09AC</string>
    <string>uni099C09CD099D</string>
    <string>uni099C09CD099E</string>
    <string>uni099C09CD09AC</string>
    <string>uni099C09CD09B0</string>
    <string>uni099C09CD09B009C1</string>
    <string>uni099C09CD09B009C2</string>
    <string>uni099D09CD</string>
    <string>uni099D09CD09B0</string>
    <string>uni099E09CD</string>
    <string>uni099E09CD099A</string>
    <string>uni099E09CD099A09CD09AC</string>
    <string>uni099E09CD099B</string>
    <string>uni099E09CD099C</string>
    <string>uni099E09CD099D</string>
    <string>uni099F09BF</string>
    <string>uni099F09BF0981</string>
    <string>uni099F09BF09B009CD</string>
    <string>uni099F09BF09B009CD0981</string>
    <string>uni099F09C0</string>
    <string>uni099F09C009B009CD</string>
    <string>uni099F09C009B009CD0981</string>
    <string>uni099F09CD</string>
    <string>uni099F09CD099F</string>
    <string>uni099F09CD099F09BF</string>
    <string>uni099F09CD099F09BF09B009CD</string>
    <string>uni099F09CD099F09BF09B009CD0981</string>
    <string>uni099F09CD099F09C0</string>
    <string>uni099F09CD099F09C009B009CD</string>
    <string>uni099F09CD099F09C009B009CD0981</string>
    <string>uni099F09CD099F09C7</string>
    <string>uni099F09CD099F09C8</string>
    <string>uni099F09CD099F09CD09B0</string>
    <string>uni099F09CD099F09CD09B009BF</string>
    <string>uni099F09CD099F09CD09B009BF09B009CD</string>
    <string>uni099F09CD099F09CD09B009BF09B009CD0981</string>
    <string>uni099F09CD099F09CD09B009C0</string>
    <string>uni099F09CD099F09CD09B009C009B009CD</string>
    <string>uni099F09CD099F09CD09B009C009B009CD0981</string>
    <string>uni099F09CD099F09CD09B009C7</string>
    <string>uni099F09CD099F09CD09B009C8</string>
    <string>uni099F09CD09AC</string>
    <string>uni099F09CD09AC09BF</string>
    <string>uni099F09CD09AC09BF09B009CD</string>
    <string>uni099F09CD09AC09BF09B009CD0981</string>
    <string>uni099F09CD09AC09C0</string>
    <string>uni099F09CD09AC09C009B009CD</string>
    <string>uni099F09CD09AC09C009B009CD0981</string>
    <string>uni099F09CD09AE</string>
    <string>uni099F09CD09AE09BF</string>
    <string>uni099F09CD09AE09BF09B009CD</string>
    <string>uni099F09CD09AE09BF09B009CD0981</string>
    <string>uni099F09CD09AE09C0</string>
    <string>uni099F09CD09AE09C009B009CD</string>
    <string>uni099F09CD09AE09C009B009CD0981</string>
    <string>uni099F09CD09B0</string>
    <string>uni099F09CD09B009BF</string>
    <string>uni099F09CD09B009BF09B009CD</string>
    <string>uni099F09CD09B009BF09B009CD0981</string>
    <string>uni099F09CD09B009C0</string>
    <string>uni099F09CD09B009C009B009CD</string>
    <string>uni099F09CD09B009C009B009CD0981</string>
    <string>uni09A009BF</string>
    <string>uni09A009BF0981</string>
    <string>uni09A009BF09B009CD</string>
    <string>uni09A009BF09B009CD0981</string>
    <string>uni09A009C0</string>
    <string>uni09A009C009B009CD</string>
    <string>uni09A009C009B009CD0981</string>
    <string>uni09A009CD</string>
    <string>uni09A009CD09B0</string>
    <string>uni09A009CD09B009BF</string>
    <string>uni09A009CD09B009BF09B009CD</string>
    <string>uni09A009CD09B009BF09B009CD0981</string>
    <string>uni09A009CD09B009C0</string>
    <string>uni09A009CD09B009C009B009CD</string>
    <string>uni09A109CD</string>
    <string>uni09A109CD0997</string>
    <string>uni09A109CD09A1</string>
    <string>uni09A109CD09AC</string>
    <string>uni09A109CD09AE</string>
    <string>uni09A109CD09B0</string>
    <string>uni09A209CD</string>
    <string>uni09A209CD09B0</string>
    <string>uni09A309CD</string>
    <string>uni09A309CD099F</string>
    <string>uni09A309CD099F09BF</string>
    <string>uni09A309CD099F09BF09B009CD</string>
    <string>uni09A309CD099F09BF09B009CD0981</string>
    <string>uni09A309CD099F09C0</string>
    <string>uni09A309CD099F09C009B009CD</string>
    <string>uni09A309CD099F09C009B009CD0981</string>
    <string>uni09A309CD099F09CD09B0</string>
    <string>uni09A309CD099F09CD09B009BF</string>
    <string>uni09A309CD099F09CD09B009BF09B009CD</string>
    <string>uni09A309CD099F09CD09B009BF09B009CD0981</string>
    <string>uni09A309CD099F09CD09B009C0</string>
    <string>uni09A309CD099F09CD09B009C009B009CD</string>
    <string>uni09A309CD099F09CD09B009C009B009CD0981</string>
    <string>uni09A309CD09A0</string>
    <string>uni09A309CD09A009BF</string>
    <string>uni09A309CD09A009BF09B009CD</string>
    <string>uni09A309CD09A009BF09B009CD0981</string>
    <string>uni09A309CD09A009C0</string>
    <string>uni09A309CD09A009C009B009CD</string>
    <string>uni09A309CD09A009C009B009CD0981</string>
    <string>uni09A309CD09A009CD09B0</string>
    <string>uni09A309CD09A009CD09B009BF</string>
    <string>uni09A309CD09A009CD09B009BF09B009CD</string>
    <string>uni09A309CD09A009CD09B009BF09B009CD0981</string>
    <string>uni09A309CD09A009CD09B009C0</string>
    <string>uni09A309CD09A009CD09B009C009B009CD</string>
    <string>uni09A309CD09A009CD09B009C009B009CD0981</string>
    <string>uni09A309CD09A1</string>
    <string>uni09A309CD09A109CD09B0</string>
    <string>uni09A309CD09A2</string>
    <string>uni09A309CD09A209CD09B0</string>
    <string>uni09A309CD09A3</string>
    <string>uni09A309CD09A8</string>
    <string>uni09A309CD09AC</string>
    <string>uni09A309CD09AE</string>
    <string>uni09A309CD09B0</string>
    <string>uni09A409CD</string>
    <string>uni09A409CD09A4</string>
    <string>uni09A409CD09A409CD09AC</string>
    <string>uni09A409CD09A409CD09B0</string>
    <string>uni09A409CD09A5</string>
    <string>uni09A409CD09A8</string>
    <string>uni09A409CD09AC</string>
    <string>uni09A409CD09AE</string>
    <string>uni09A409CD09B0</string>
    <string>uni09A409CD09B2</string>
    <string>uni09A509CD</string>
    <string>uni09A509CD09AC</string>
    <string>uni09A509CD09B0</string>
    <string>uni09A609CD</string>
    <string>uni09A609CD0997</string>
    <string>uni09A609CD0998</string>
    <string>uni09A609CD09A6</string>
    <string>uni09A609CD09A609CD09AC</string>
    <string>uni09A609CD09A609CD09B0</string>
    <string>uni09A609CD09A7</string>
    <string>uni09A609CD09A709CD09AC</string>
    <string>uni09A609CD09A8</string>
    <string>uni09A609CD09AC</string>
    <string>uni09A609CD09AD</string>
    <string>uni09A609CD09AD09CD09B0</string>
    <string>uni09A609CD09AE</string>
    <string>uni09A609CD09B0</string>
    <string>uni09A709CD</string>
    <string>uni09A709CD09A8</string>
    <string>uni09A709CD09AC</string>
    <string>uni09A709CD09AE</string>
    <string>uni09A709CD09B0</string>
    <string>uni09A809CD</string>
    <string>uni09A809CD099F</string>
    <string>uni09A809CD099F09BF</string>
    <string>uni09A809CD099F09BF09B009CD</string>
    <string>uni09A809CD099F09BF09B009CD0981</string>
    <string>uni09A809CD099F09C0</string>
    <string>uni09A809CD099F09C009B009CD</string>
    <string>uni09A809CD099F09C009B009CD0981</string>
    <string>uni09A809CD099F09CD09B0</string>
    <string>uni09A809CD099F09CD09B009BF</string>
    <string>uni09A809CD099F09CD09B009BF09B009CD</string>
    <string>uni09A809CD099F09CD09B009BF09B009CD0981</string>
    <string>uni09A809CD099F09CD09B009C0</string>
    <string>uni09A809CD099F09CD09B009C009B009CD</string>
    <string>uni09A809CD099F09CD09B009C009B009CD0981</string>
    <string>uni09A809CD09A0</string>
    <string>uni09A809CD09A009BF</string>
    <string>uni09A809CD09A009BF09B009CD</string>
    <string>uni09A809CD09A009BF09B009CD0981</string>
    <string>uni09A809CD09A009C0</string>
    <string>uni09A809CD09A009C009B009CD</string>
    <string>uni09A809CD09A1</string>
    <string>uni09A809CD09A109CD09B0</string>
    <string>uni09A809CD09A4</string>
    <string>uni09A809CD09A409C1</string>
    <string>uni09A809CD09A409CD09AC</string>
    <string>uni09A809CD09A409CD09B0</string>
    <string>uni09A809CD09A5</string>
    <string>uni09A809CD09A509CD09B0</string>
    <string>uni09A809CD09A6</string>
    <string>uni09A809CD09A609CD09AC</string>
    <string>uni09A809CD09A609CD09B0</string>
    <string>uni09A809CD09A609CD09B009C1</string>
    <string>uni09A809CD09A609CD09B009C2</string>
    <string>uni09A809CD09A7</string>
    <string>uni09A809CD09A709CD09AC</string>
    <string>uni09A809CD09A709CD09B0</string>
    <string>uni09A809CD09A8</string>
    <string>uni09A809CD09AC</string>
    <string>uni09A809CD09AE</string>
    <string>uni09A809CD09B0</string>
    <string>uni09A809CD09B8</string>
    <string>uni09A809CD09B809CD099F</string>
    <string>uni09A809CD09B809CD099F09BF</string>
    <string>uni09A809CD09B809CD099F09BF09B009CD</string>
    <string>uni09A809CD09B809CD099F09BF09B009CD0981</string>
    <string>uni09A809CD09B809CD099F09C0</string>
    <string>uni09A809CD09B809CD099F09C009B009CD</string>
    <string>uni09A809CD09B809CD099F09C009B009CD0981</string>
    <string>uni09AA09CD</string>
    <string>uni09AA09CD099F</string>
    <string>uni09AA09CD099F09BF</string>
    <string>uni09AA09CD099F09BF09B009CD</string>
    <string>uni09AA09CD099F09BF09B009CD0981</string>
    <string>uni09AA09CD099F09C0</string>
    <string>uni09AA09CD099F09C009B009CD</string>
    <string>uni09AA09CD099F09C009B009CD0981</string>
    <string>uni09AA09CD09A4</string>
    <string>uni09AA09CD09A409C1</string>
    <string>uni09AA09CD09A409CD09B0</string>
    <string>uni09AA09CD09A8</string>
    <string>uni09AA09CD09AA</string>
    <string>uni09AA09CD09AE</string>
    <string>uni09AA09CD09B0</string>
    <string>uni09AA09CD09B2</string>
    <string>uni09AA09CD09B8</string>
    <string>uni09AB09CD</string>
    <string>uni09AB09CD099F</string>
    <string>uni09AB09CD099F09BF</string>
    <string>uni09AB09CD099F09BF09B009CD</string>
    <string>uni09AB09CD099F09BF09B009CD0981</string>
    <string>uni09AB09CD099F09C0</string>
    <string>uni09AB09CD099F09C009B009CD</string>
    <string>uni09AB09CD099F09C009B009CD0981</string>
    <string>uni09AB09CD09B0</string>
    <string>uni09AB09CD09B2</string>
    <string>uni09AC09CD</string>
    <string>uni09AC09CD099C</string>
    <string>uni09AC09CD099D</string>
    <string>uni09AC09CD09A1</string>
    <string>uni09AC09CD09A2</string>
    <string>uni09AC09CD09A6</string>
    <string>uni09AC09CD09A609CD09B0</string>
    <string>uni09AC09CD09A7</string>
    <string>uni09AC09CD09AC</string>
    <string>uni09AC09CD09AD</string>
    <string>uni09AC09CD09B0</string>
    <string>uni09AC09CD09B2</string>
    <string>uni09AD09CD</string>
    <string>uni09AD09CD09B0</string>
    <string>uni09AD09CD09B009C1</string>
    <string>uni09AD09CD09B009C2</string>
    <string>uni09AD09CD09B2</string>
    <string>uni09AE09CD</string>
    <string>uni09AE09CD09A4</string>
    <string>uni09AE09CD09A409C1</string>
    <string>uni09AE09CD09A6</string>
    <string>uni09AE09CD09A8</string>
    <string>uni09AE09CD09AA</string>
    <string>uni09AE09CD09AA09CD09B0</string>
    <string>uni09AE09CD09AB</string>
    <string>uni09AE09CD09AB09CD09B0</string>
    <string>uni09AE09CD09AC</string>
    <string>uni09AE09CD09AC09CD09B0</string>
    <string>uni09AE09CD09AD</string>
    <string>uni09AE09CD09AD09CD09B0</string>
    <string>uni09AE09CD09AE</string>
    <string>uni09AE09CD09B0</string>
    <string>uni09AE09CD09B009C1</string>
    <string>uni09AE09CD09B009C2</string>
    <string>uni09AE09CD09B2</string>
    <string>uni09AF09CD</string>
    <string>uni09AF09CD09B0</string>
    <string>uni09B009CD</string>
    <string>uni09B009CD0981</string>
    <string>uni09B209CD</string>
    <string>uni09B209CD0995</string>
    <string>uni09B209CD0997</string>
    <string>uni09B209CD099709C1</string>
    <string>uni09B209CD0998</string>
    <string>uni09B209CD099F</string>
    <string>uni09B209CD099F09BF</string>
    <string>uni09B209CD099F09BF09B009CD</string>
    <string>uni09B209CD099F09BF09B009CD0981</string>
    <string>uni09B209CD099F09C0</string>
    <string>uni09B209CD099F09C009B009CD</string>
    <string>uni09B209CD099F09C009B009CD0981</string>
    <string>uni09B209CD099F09CD09B0</string>
    <string>uni09B209CD099F09CD09B009BF</string>
    <string>uni09B209CD099F09CD09B009BF09B009CD</string>
    <string>uni09B209CD099F09CD09B009BF09B009CD0981</string>
    <string>uni09B209CD099F09CD09B009C0</string>
    <string>uni09B209CD099F09CD09B009C009B009CD</string>
    <string>uni09B209CD099F09CD09B009C009B009CD0981</string>
    <string>uni09B209CD09A1</string>
    <string>uni09B209CD09A109CD09DC</string>
    <string>uni09B209CD09A2</string>
    <string>uni09B209CD09A6</string>
    <string>uni09B209CD09A7</string>
    <string>uni09B209CD09AA</string>
    <string>uni09B209CD09AB</string>
    <string>uni09B209CD09AB09CD09B0</string>
    <string>uni09B209CD09AC</string>
    <string>uni09B209CD09AE</string>
    <string>uni09B209CD09B0</string>
    <string>uni09B209CD09B2</string>
    <string>uni09B609CD</string>
    <string>uni09B609CD099A</string>
    <string>uni09B609CD099B</string>
    <string>uni09B609CD09A4</string>
    <string>uni09B609CD09A409C1</string>
    <string>uni09B609CD09A8</string>
    <string>uni09B609CD09AC</string>
    <string>uni09B609CD09AE</string>
    <string>uni09B609CD09B0</string>
    <string>uni09B609CD09B2</string>
    <string>uni09B609CD09C1</string>
    <string>uni09B709CD</string>
    <string>uni09B709CD0995</string>
    <string>uni09B709CD099509CD09B0</string>
    <string>uni09B709CD099F</string>
    <string>uni09B709CD099F09BF</string>
    <string>uni09B709CD099F09BF09B009CD</string>
    <string>uni09B709CD099F09BF09B009CD0981</string>
    <string>uni09B709CD099F09C0</string>
    <string>uni09B709CD099F09C009B009CD</string>
    <string>uni09B709CD099F09C009B009CD0981</string>
    <string>uni09B709CD099F09CD09B0</string>
    <string>uni09B709CD099F09CD09B009BF</string>
    <string>uni09B709CD099F09CD09B009BF09B009CD</string>
    <string>uni09B709CD099F09CD09B009BF09B009CD0981</string>
    <string>uni09B709CD099F09CD09B009C0</string>
    <string>uni09B709CD099F09CD09B009C009B009CD</string>
    <string>uni09B709CD099F09CD09B009C009B009CD0981</string>
    <string>uni09B709CD09A0</string>
    <string>uni09B709CD09A009BF</string>
    <string>uni09B709CD09A009BF09B009CD</string>
    <string>uni09B709CD09A009BF09B009CD0981</string>
    <string>uni09B709CD09A009C0</string>
    <string>uni09B709CD09A009C009B009CD</string>
    <string>uni09B709CD09A009C009B009CD0981</string>
    <string>uni09B709CD09A3</string>
    <string>uni09B709CD09AA</string>
    <string>uni09B709CD09AA09CD09B0</string>
    <string>uni09B709CD09AB</string>
    <string>uni09B709CD09AC</string>
    <string>uni09B709CD09AE</string>
    <string>uni09B709CD09B0</string>
    <string>uni09B809CD</string>
    <string>uni09B809CD0995</string>
    <string>uni09B809CD099509CD09B0</string>
    <string>uni09B809CD0996</string>
    <string>uni09B809CD099F</string>
    <string>uni09B809CD099F09BF</string>
    <string>uni09B809CD099F09BF09B009CD</string>
    <string>uni09B809CD099F09BF09B009CD0981</string>
    <string>uni09B809CD099F09C0</string>
    <string>uni09B809CD099F09C009B009CD</string>
    <string>uni09B809CD099F09C009B009CD0981</string>
    <string>uni09B809CD099F09CD09B0</string>
    <string>uni09B809CD099F09CD09B009BF</string>
    <string>uni09B809CD099F09CD09B009BF09B009CD</string>
    <string>uni09B809CD099F09CD09B009BF09B009CD0981</string>
    <string>uni09B809CD099F09CD09B009C0</string>
    <string>uni09B809CD099F09CD09B009C009B009CD</string>
    <string>uni09B809CD099F09CD09B009C009B009CD0981</string>
    <string>uni09B809CD09A4</string>
    <string>uni09B809CD09A409C1</string>
    <string>uni09B809CD09A409CD09AC</string>
    <string>uni09B809CD09A409CD09B0</string>
    <string>uni09B809CD09A5</string>
    <string>uni09B809CD09A8</string>
    <string>uni09B809CD09AA</string>
    <string>uni09B809CD09AA09CD09B0</string>
    <string>uni09B809CD09AA09CD09B2</string>
    <string>uni09B809CD09AB</string>
    <string>uni09B809CD09AC</string>
    <string>uni09B809CD09AE</string>
    <string>uni09B809CD09B0</string>
    <string>uni09B809CD09B009C1</string>
    <string>uni09B809CD09B009C2</string>
    <string>uni09B809CD09B2</string>
    <string>uni09B809CD09B209C1</string>
    <string>uni09B809CD09B209C2</string>
    <string>uni09B909CD</string>
    <string>uni09B909CD09A3</string>
    <string>uni09B909CD09A8</string>
    <string>uni09B909CD09AC</string>
    <string>uni09B909CD09AE</string>
    <string>uni09B909CD09B0</string>
    <string>uni09B909CD09B2</string>
    <string>uni09B909CD09C1</string>
    <string>uni09B909CD09C3</string>
    <string>uni09BF09B009CD</string>
    <string>uni09C009B009CD</string>
    <string>uni09C009B009CD0981</string>
    <string>uni09DC09CD</string>
    <string>uni09DC09CD0997</string>
    <string>uni09DC09CD09B0</string>
    <string>uni09DD09CD</string>
    <string>uni09DD09CD09B0</string>
    <string>uni09DF09CD</string>
    <string>uni09DF09CD09B0</string>
    <string>iMatra_candrabindubeng</string>
    <string>iMatra_candrabindubeng.length10</string>
    <string>iMatra_candrabindubeng.length11</string>
    <string>iMatra_candrabindubeng.length12</string>
    <string>iMatra_candrabindubeng.length13</string>
    <string>iMatra_candrabindubeng.length14</string>
    <string>iMatra_candrabindubeng.length15</string>
    <string>iMatra_candrabindubeng.length16</string>
    <string>iMatra_candrabindubeng.length17</string>
    <string>iMatra_candrabindubeng.length18</string>
    <string>iMatra_candrabindubeng.length19</string>
    <string>iMatra_candrabindubeng.length2</string>
    <string>iMatra_candrabindubeng.length3</string>
    <string>iMatra_candrabindubeng.length4</string>
    <string>iMatra_candrabindubeng.length5</string>
    <string>iMatra_candrabindubeng.length6</string>
    <string>iMatra_candrabindubeng.length7</string>
    <string>iMatra_candrabindubeng.length8</string>
    <string>iMatra_candrabindubeng.length9</string>
    <string>uni099F09CD099F09C7.init</string>
    <string>uni099F09CD099F09CD09B009C7.init</string>
    <string>uni099F09CD099F09C8.init</string>
    <string>uni099F09CD099F09CD09B009C8.init</string>
    <string>uni09BF09B009CD.length10</string>
    <string>uni09BF09B009CD.length11</string>
    <string>uni09BF09B009CD.length12</string>
    <string>uni09BF09B009CD.length13</string>
    <string>uni09BF09B009CD.length14</string>
    <string>uni09BF09B009CD.length15</string>
    <string>uni09BF09B009CD.length16</string>
    <string>uni09BF09B009CD.length17</string>
    <string>uni09BF09B009CD.length18</string>
    <string>uni09BF09B009CD.length19</string>
    <string>uni09BF09B009CD.length2</string>
    <string>uni09BF09B009CD.length3</string>
    <string>uni09BF09B009CD.length4</string>
    <string>uni09BF09B009CD.length5</string>
    <string>uni09BF09B009CD.length6</string>
    <string>uni09BF09B009CD.length7</string>
    <string>uni09BF09B009CD.length8</string>
    <string>uni09BF09B009CD.length9</string>
    <string>indianrupeesign.lin</string>
    <string>uni09B009CD.nub</string>
    <string>uni09B009CD0981.nub</string>
    <string>indianrupeesign.old</string>
    <string>indianrupeesign.oldtab</string>
    <string>iMatra_reph_candrabindubeng</string>
    <string>iMatra_reph_candrabindubeng.length10</string>
    <string>iMatra_reph_candrabindubeng.length11</string>
    <string>iMatra_reph_candrabindubeng.length12</string>
    <string>iMatra_reph_candrabindubeng.length13</string>
    <string>iMatra_reph_candrabindubeng.length14</string>
    <string>iMatra_reph_candrabindubeng.length15</string>
    <string>iMatra_reph_candrabindubeng.length16</string>
    <string>iMatra_reph_candrabindubeng.length17</string>
    <string>iMatra_reph_candrabindubeng.length18</string>
    <string>iMatra_reph_candrabindubeng.length19</string>
    <string>iMatra_reph_candrabindubeng.length2</string>
    <string>iMatra_reph_candrabindubeng.length3</string>
    <string>iMatra_reph_candrabindubeng.length4</string>
    <string>iMatra_reph_candrabindubeng.length5</string>
    <string>iMatra_reph_candrabindubeng.length6</string>
    <string>iMatra_reph_candrabindubeng.length7</string>
    <string>iMatra_reph_candrabindubeng.length8</string>
    <string>iMatra_reph_candrabindubeng.length9</string>
    <string>indianrupeesign.tab</string>
    <string>uni200B</string>
    <string>.null</string>
    <string>CR</string>
    <string>space.tab</string>
    <string>uni00A0</string>
    <string>uni2009</string>
    <string>uniFEFF</string>
    <string>uni2154</string>
    <string>uni00B3</string>
    <string>Idot</string>
    <string>uni2153</string>
    <string>indianrupeesign</string>
    <string>uni00B2</string>
    <string>uni00B9</string>
  </array>
</dict>
</plist>